[Desktop Entry]
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
Name=XeroLinux Post Installation Toolkit
Exec=/usr/local/bin/toolkit
Icon=/usr/share/pixmaps/xerolinux.png
Comment=A tool for easy Post-Install Actions.
